.home {
  position: relative;

  &__input {
    position: absolute;
    width: 85%;
    top: 8%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }

  &__map {
    height: 100%;
  }

  &__bottom-sheet-container {
    height: 300px;
  }
}
