.join {
  ////////////////////////////////////////////////////
  // layout //////////////////////////////////////////

  &__header {
    display: flex;
    height: 100px;
    padding-top: 20px;
    align-items: center;

    span {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }

  &__nav {
  }

  &__body {
    display: flex;
    flex: 1;
    padding: 40px 0;

    &--challenge {
      flex-direction: column;
      justify-content: space-between;
    }

    &--competitive {
      align-items: center;
      justify-content: center;
    }
  }

  ////////////////////////////////////////////////////
  ////////////////////////////////////////////////////

  ////////////////////////////////////////////////////
  // challenge ///////////////////////////////////////

  &__challenge-list {
    display: flex;
    flex-direction: column;
  }

  ////////////////////////////////////////////////////
  ////////////////////////////////////////////////////

  ////////////////////////////////////////////////////
  // competitive /////////////////////////////////////

  ////////////////////////////////////////////////////
  ////////////////////////////////////////////////////
}

.challenge-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 10px;
  box-sizing: border-box;
  border-top: 2px rgb(208, 208, 208) solid;

  &:last-child {
    border-bottom: 2px rgb(208, 208, 208) solid;
  }

  &__info {
    display: flex;
    align-items: center;

    img {
      width: 40px;
      object-fit: cover;
      margin-right: 8px;
    }

    span {
      font-size: 1.1rem;
      font-weight: 500;
    }
  }
}
